.header {
  background-color: rgba(173, 236, 71, 0.685);
}
.header-container {
  max-width: 1440px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  margin: auto;
}

.brand {
  display: flex;
  align-items: center;
}
.brand-name {
  font-family: cursive;
  font-weight: 900;
  font-size: 25px;
}
.header img {
  height: 50px;
  width: 60px;
  margin: 0 20px;
}
a {
  text-decoration: none;
  margin-left: 20px;
  font-weight: 700;
  color: aliceblue;
}
