.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
}
.cart-item img {
  height: 40px;
  width: 40px;
  border: 1x solid black;
  border-radius: 50%;
}
.cart-item p {
  margin: 0 10px;
}
